/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    

  }
  body::-webkit-scrollbar {
    width: 20px;  
                /* width of the entire scrollbar */
  }
  
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(211, 14, 73);
    border: 3px solid #eee ;
    -webkit-border: 3px solid #eee ;
    -moz-border: 3px solid #eee ;
    -ms-border: 3px solid #eee ;
    -o-border: 3px solid #eee ;
}
  /* End Variables */

  /* Start Global Rules */
  *,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}
*{
  scroll-behavior: smooth;
}
  html:focus-within  {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
/* 
  html {
    scroll-padding-top: 97px;
  } */

  body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    background-color: #f3f3f3;
    /* padding-top: 97px; */
    
  }
  ul {
    list-style: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

 

  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
      
  }
}
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */

  /* start components */
  .main-heading {

    text-align: center;
    
  }

  .border-shadow {
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 25%);
  border-radius: 1rem;
} 
  
  .main-heading  h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
  }

  .main-heading  h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    height: 2px;
    width: 120px;
    background-color: #333;
    bottom: -30px;
}



 .scroll-indicator {
  position: static;
  top: 87px;
  left: 0;
  height: 10px;
  background:rgb(211, 14, 73);
  z-index: 2;
  
}




  .main-heading  h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    height: 14px;
    width: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: white;
    bottom: -36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border: 2px solid #333;
    -moz-border: 2px solid #333;
    -ms-border: 2px solid #333;
    -o-border: 2px solid #333;
}

  .main-heading  p {
    width: 550px;
    margin: 0 auto 100px ;
    max-width: 100%;  
    line-height: 2;
    color: #777;
  }
  /* end components */

  /* Start Header */
  header {
    position:fixed;
    left: 0;
    top:0;
    width: 100%;
    z-index: 3;
   
   background-color: rgba(0, 0, 0, 0.87);
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 97px;
    
  }

  @media  (max-width: 767px) {
    header  .container  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      max-height: 50px !important;
      padding-top: 10px;
      
    }
  }

  /* start line under header */
  header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
  }

   /* end line under header */
  header .logo img {
    height: 40px;
  }
  header nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }

  @media (min-width: 768px) {
    header nav .toggle-menu {
      display: none;
          }

}


 
  header nav ul {
    display: flex;
  }

  

  @media (max-width: 767px) {
   
    
    header nav ul li a {
      padding: 21px !important;
      text-align: center;
     font-size: 20px !important;
    }
    

    
   
  }
  header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white ;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    
   
  }
  header nav ul li a.active {
    color: var(--main-color) ;
  }
  header nav ul li a:hover {
   color: var(--main-color);
   transition: 0.9s;
   -webkit-transition: 0.9s;
   -moz-transition: 0.9s;
   -ms-transition: 0.9s;
   -o-transition: 0.9s;
}
/* 
start highlight nav on scroll */
@media  (min-width: 768px) {
  

li.active > a {
  color: var(--main-color) ;
  /* end highlight nav in scroll */
}
} 
/* start white line over nave linke */
header nav ul li a::after{
  content:"";
  position: absolute;
  left:50%;
  bottom: 30PX;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -moz-transform: translateX(-50%) scaleX(0);
  -ms-transform: translateX(-50%) scaleX(0);
  -o-transform: translateX(-50%) scaleX(0);
 
  height: 2px;
  background-color: white ;
  transition: transform 250ms;
  -webkit-transition: transform 250ms;
  -moz-transition: transform 250ms;
  -ms-transition: transform 250ms;
  -o-transition: transform 250ms;
}

header nav ul li a:hover::after{
  transform:translateX(-50%) scaleX(1) ;
  transform:translateX(-50%)  ;
  -webkit-transform:translateX(-50%) scaleX(1) ;
  -moz-transform:translateX(-50%) scaleX(1) ;
  -ms-transform:translateX(-50%) scaleX(1) ;
  -o-transform:translateX(-50%) scaleX(1) ;
}

/* end white line over nave linke */

/* search icon */
  header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid var(--main-color);
  }
  header nav .form i {
    color: var(--main-color);
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  /* search icon */
  
  
  @media screen and (max-width: 767px) {
   
    .line {
      width: 30px;
      height: 3px;
    
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .form{
      display: none;
    }
    .nav-links  {
      position: fixed;
      background: #19c8fa ;
      top:59px;
      min-height: 100vh;
      right: 0;
      font-size: 20px;
      font-weight: bold;
      width: 100% ;
      padding-left: 0;
      flex-direction: column;
      clip-path: circle(30px at 100% -10%);
      -webkit-clip-path: circle(30px at 100% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
     
    }
    .nav-links a{
      border-bottom: 1px solid white !important;
      
    }

   

    header nav ul li a.active,
  header nav ul li a:hover
  
   {
    color: black;
    
  }

  header nav ul li a {
    color: black;
  
  }
    .nav-links.open {
      clip-path: circle(1000px at 100% );
      -webkit-clip-path: circle(1000px at 100% );
      pointer-events: all;
      
      /* right: 0; */
    }
    

    

    .hamburger{
      color: #19c8fa ;
      font-size: 22px;
     
    }
    
    header .container::after{
      display: none;
      
    }

    header nav ul li a:hover::after{
      display: none;
     
    }
    .nav-links li {
      opacity: 0;
      transition: all 0.6s  linear;
      -webkit-transition: all 0.6s  linear;
      -moz-transition: all 0.6s  linear;
      -ms-transition: all 0.6s  linear;
      -o-transition: all 0.6s  linear;
}
    
   
    li.fade {
      opacity: 1;
      transition: all 0.6s  linear;
    }
   
    
    }

    nav  ul li a:after {
      content: "";
      position: absolute;
      width: 0%;
      height: 1px;
      display: block;
      transition: all 0.3s  linear;
      top: 25%;
      left:0;
      -webkit-transition: all 0.3s  linear;
      -moz-transition: all 0.3s  linear;
      -ms-transition: all 0.3s  linear;
      -o-transition: all 0.3s  linear;
}
     nav ul li a:hover::after {
      
     
      width: 70%;
      height: 1px;
      background-color: #fff;
    }

    @media (max-width : 767px ) and (orientation : landscape) {
      header nav ul li a {
        padding: 12px !important;
      }
    }
    /* end header */
  
/* start landing */
.landing {
  height: 100vh;
  position: relative;
}


 /* Slideshow container */
 .slideshow-container {
  width:100%;
  position: relative;
  height: 100vh;
 
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 25px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  z-index: 2;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The circles or bullets and indicators */
.dots {
 position: relative; 
  top:-50px;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
  z-index: 1;
  
}

.enable, .dots:hover {
  background-color: var(--main-color);
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}


.Containers img {
  width:100%;
 height:100vh;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 58%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    top: 49%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}





/* End Landing */

.text10 {
  display: none;
  }

  @media (max-width :783px) {
    .text10 {
      display: block;
      text-align: center;
      padding: 15px;
      background-color:rgb(15 116 143 / 70%);
      color:white;
    }

   .landing .text {
      display: none;
    }


  }
/* Start Services */
.services {
 

  padding-top: 150px;
  padding-bottom: var(--section-padding);
  margin-top: 50px;
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
   
  }
}
.services .srv-box {
  display: flex;
  padding: 15px;
}
.services .srv-box i {
  margin-right: 50px;
  
}
@media (max-width: 767px) {


  .services  {
    margin-top: 20px !important;
  }
 
  .services .main-heading p{
    padding: 15px;

  }
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
    padding: 15px;
  }
  .services .srv-box i {
    margin: 0 0 30px;
  }
}
.services .srv-box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .srv-box p {
  line-height: 2;
  color: #777;
 
}
/* End Services */


/* start design */
 .design {
   margin-top: 50px;
  position: relative;
  height: 600px;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("images/design-featuer.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
  -webkit-background-image: url("images/design-featuer.jpg");
  -moz-background-image: url("images/design-featuer.jpg");
  -ms-background-image: url("images/design-featuer.jpg");
  -o-background-image: url("images/design-featuer.jpg");
}

.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.design .mobile,
.design .text {
  position: relative;
  z-index: 2;
  flex :1;

}

.design .mobile {
  text-align: center;
}
@media (max-width: 767px) {
  .design .mobile {
    display: none;
  }
}

@media (max-width:600px) {
  .portfolio .main-heading p {
    padding-left: 15px;
    padding-right: 15px;
  }
  

}

.design .mobile img {
  position: relative;
  bottom: -150px;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* end design */

/* start  portfolio  */

.portfolio {
  padding-top: 230px;
  padding-bottom: var(--section-padding);
  margin-top: -200px;
 
}

.portfolio .main-heading p {
  margin: 0 auto 50px;
}




.poto2 {

  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
  
}

.poto2 p {
  color :var(--main-color);
}

.poto2 h4 {

  margin-bottom: 10px;
}



.portfolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
}



.proo label.active12 {
  background-color: var(--main-color);
  color:white;
  
}




.poto77{

  display: grid;
  grid-template-columns: repeat(4 ,1fr);
 gap :15px;
 
}

.poto11 ,
.poto22 ,
.poto33 ,
.poto4 ,
.poto5 ,
.poto6 ,
.poto7 ,
.poto8 {

  position: relative;
  height: 230px;
} 

.poto11  img ,
.poto22  img ,
.poto33  img ,
.poto4  img ,
.poto5  img ,
.poto6 img ,
.poto7 img ,
.poto8 img {

  
  height: 100%;
  width: 100%;
} 


input.inpo {
  display: none;
}

.proo {
 text-align: center;
 font-weight: bold;
 font-size: 19px;
 margin-bottom: 30px;
 
}

.proo label {
  margin-left: 20px;
  text-align: center;
  
}
#check1:checked ~  .poto77 .poto11 {
  opacity: 1;
  transform: scale(1);
  position: relative;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

#check2:checked ~  .poto77 .poto22 {
  opacity: 1;
  transform: scale(1);
  position: relative;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

#check2:checked ~  .poto77 .poto33 ,
#check2:checked ~  .poto77 .poto4 ,
#check2:checked ~  .poto77 .poto5 ,
#check2:checked ~  .poto77 .poto6 ,
#check2:checked ~  .poto77 .poto7 ,
#check2:checked ~  .poto77 .poto8 


{
  opacity: 0;
  transform: scale(0);
  position: absolute;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}



#check3:checked ~  .poto77 .poto4 ,

#check3:checked ~  .poto77 .poto7 ,
#check3:checked ~  .poto77 .poto8 


{
  opacity: 0;
  transform: scale(0);
  position: absolute;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}


#check4:checked ~  .poto77 .poto11 ,
#check4:checked ~  .poto77 .poto22 ,
#check4:checked ~  .poto77 .poto33 ,
#check4:checked ~  .poto77 .poto7 ,
#check4:checked ~  .poto77 .poto8 


{
  opacity: 0;
  transform: scale(0);
  position: absolute;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}



#check5:checked ~  .poto77 .poto11 ,
#check5:checked ~  .poto77 .poto22 ,
#check5:checked ~  .poto77 .poto33 ,
#check5:checked ~  .poto77 .poto6 ,
#check5:checked ~  .poto77 .poto5 , 
#check5:checked ~  .poto77 .poto4 


{
  opacity: 0;
  transform: scale(0);
  position: absolute;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.poto77 .poto55 {
 overflow: hidden;
 
}

.poto77 .poto55:hover  img  {
  transition: all 0.3s linear;
  transform: rotate(3deg) scale(1.1);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}


.poto77 .poto55:hover .poto2{

  bottom: 0;
}


@media (min-width: 768px) {
 .poto77{
    grid-template-columns: repeat(2 , 1fr);
  }
}


@media (min-width: 992px) {
  .poto77{
     grid-template-columns: repeat(4 , 1fr);
   }
 }

@media (min-width: 1199px) {
  .poto1 {
    flex-basis: 25%;
  }
}

@media (max-width: 991px) {
  .proo{
   margin-right: 20px;
   }
 }

@media (max-width: 767px) {
  .poto77{
    grid-template-columns: 100%;
    row-gap: 20px;
  }
}


  /* end portfolio 

  /* Start Video */
.video {
  position: relative;
  
  
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.video video {
  width: 100%;

}
.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  text-align: center;
}
.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}
/* End Video */

/* Start About */
.about {
 
  overflow: hidden;
  text-align: center;
  padding-top: 230px;
  padding-bottom: var(--section-padding);
  margin-top: -110px;
}
.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* End About */
/* Start Stats */
.stats {
 
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url("images/stats.jpg");
  background-size: cover;
  position: relative;
  -webkit-background-image: url("images/stats.jpg");
  -moz-background-image: url("images/stats.jpg");
  -ms-background-image: url("images/stats.jpg");
  -o-background-image: url("images/stats.jpg");
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stats .container .box5 {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
@media (max-width: 767px) {
  .stats .container .box5 {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .box5 {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box5 {
    flex-basis: 25%;
  }
}
.stats .container .box5 i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
 
  font-weight: bold;

}
.stats .container .box5 .number5 {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.stats .container .box5 p {
  font-size: 14px;
}
/* End Stats */

/* start skills */

.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}



.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}





.our-skills {
  overflow: hidden;
  padding-top: var(--section-padding) ;
  padding-bottom:  var(--section-padding) ;
  
}

.our-skills .container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width :992px) {

  .our-skills .container > div {
    flex-basis: 45%;
  }
}

.our-skills .container > div > h2{

  margin: 0 0 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

}

.our-skills .container > div > p {

  color :#777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}

.our-skills .testimonials .content1 {

display: flex;
align-items: center;
margin-bottom: 30px;
}


.our-skills .testimonials .content1 img { 
  width:100px; 
  position: relative;
  top:-20px;
  border-radius:50px ;
   -webkit-border-radius:50px ; -moz-border-radius:50px ; -ms-border-radius:50px ; -o-border-radius:50px ;
   margin-right: 50px;
}

@media (max-width :767px) {

  .our-skills .testimonials .content1 {
    flex-direction: column;
    text-align: center;

  }

  
  
  
  .our-skills .testimonials .content1 img {
  
    margin: 0 auto 20px;
  }
}

.our-skills .testimonials .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;

}

.our-skills .testimonials .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}

.our-skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
 
}
.our-skills .testimonials .bullets li {
     width: 20px;
     height: 20px;
     border: 2px solid #7773;
     border-radius: 50%;
     margin-right: 10px;
     -webkit-border: 2px solid #7773;
     -moz-border: 2px solid #7773;
     -ms-border: 2px solid #7773;
     -o-border: 2px solid #7773;
}
.our-skills .testimonials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}




.skill-bar{
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per{
 height: 20px;
 background-color: #0fbcf9;
 border-radius: 8px;
 width: 0;
 transition: 2s all ;
 position: relative;
 animation: abbas 3s infinite;
 -webkit-animation: abbas 3s infinite;
 -moz-animation: abbas 3s infinite;
 -ms-animation: abbas 3s infinite;
 -o-animation: abbas 3s infinite;
 -webkit-transition: 2s all ;
 -moz-transition: 2s all ;
 -ms-transition: 2s all ;
 -o-transition: 2s all ;
} 

@keyframes abbas{
0% {
  width:0;
};

100% {
  width:0;
};



}




/* end skills */

/* Start Quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/stats.jpg");
  background-size: cover;
  min-height: 100%;
  position: relative;
  text-align: center;
  color: white;
  -webkit-background-image: url("../images/stats.jpg");
  -moz-background-image: url("../images/stats.jpg");
  -ms-background-image: url("../images/stats.jpg");
  -o-background-image: url("../images/stats.jpg");
}
.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative;
 
}
.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}

.quote q::before{
  font-family: "Font Awesome 5 Free";
  content: "\f10d";
  font-weight: 900;
  margin-right: 10px;
  font-size: 15px;
  position: relative;
  top: -10px;
}

.quote q::after {
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 900;
  margin-left: 10px;
  font-size: 15px;
  position: relative;
  top: -10px;
}

/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: 230px;
  padding-bottom: var(--section-padding);
  margin-top: -200px;
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  background-image: linear-gradient(to bottom, #205680 0%, #8cafcc 100%);
  text-align: center;
  border: 2px solid var(--main-color);
  -webkit-border: 2px solid ;
  -moz-border: 2px solid ;
  -ms-border: 2px solid ;
  -o-border: 2px solid ;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
  -moz-background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
  -ms-background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
  -o-background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
}

.pricing .plans .plan .head {
  padding: 20px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);

  
}
.pricing .plans .plan .head h3 {
  font-weight: bold;
  font-size: 20px;
    color :var(--main-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .plan .head div {
 padding-top: 8px;
 width: 60px;
 height: 60px;
 margin-left: auto;
 margin-right: auto;
 font-size: 38px;
 font-weight: bold;
 border: 1px solid var(--main-color);
 -webkit-border: 1px solid var(--main-color);
 -moz-border: 1px solid var(--main-color);
 -ms-border: 1px solid var(--main-color);
 -o-border: 1px solid var(--main-color);
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 position: relative;
 transition: all 0.3s linear;
 -webkit-transition: all 0.3s linear;
 -moz-transition: all 0.3s linear;
 -ms-transition: all 0.3s linear;
 -o-transition: all 0.3s linear;
}

.pricing .plans .plan .head div:hover   {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}


 .pricing .plans .plan .head div::before {
  content: "$";
  font-size: 25px;
  position: absolute;
  top: -3px;
  left: -27px;
  
}
.pricing .plans .plan .head div::after {
  content: "/Mo";
  font-size: 20px;
  position: absolute;
  right: -41px;
  top:50px;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
  padding: 10px;
  position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
} 
.pricing .plans .plan .foot a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
  font-weight: bold;
  color :black;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}

button.contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: rgb(127, 230, 178) ;
  color: black;
  font-weight: bold;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 9px 0 rgb(183, 240, 221), 0 9px 25px rgba(0, 0, 0, 0.7);
  border:none;
  -webkit-border:none;
  -moz-border:none;
  -ms-border:none;
  -o-border:none;
  -webkit-box-shadow: 0 9px 0 rgb(183, 240, 221), 0 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 9px 0 rgb(183, 240, 221), 0 9px 25px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0 9px 0 rgb(183, 240, 221), 0 9px 25px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 9px 0 rgb(183, 240, 221), 0 9px 25px rgba(0, 0, 0, 0.7);
  cursor:pointer;
}

.pricing .contact-link:active {
  box-shadow: 0 3px 0 rgb(180, 241, 221), 0 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 0 rgb(180, 241, 221), 0 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 0 rgb(180, 241, 221), 0 3px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 3px 0 rgb(180, 241, 221), 0 3px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 3px 0 rgb(180, 241, 221), 0 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  top:5px;
}
/* End Pricing */

/* Start Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("images/shuffle-01.jpg");
  background-size: cover;
  position: relative;
  color: white;
  -webkit-background-image: url("images/shuffle-01.jpg");
  -moz-background-image: url("images/shuffle-01.jpg");
  -ms-background-image: url("images/shuffle-01.jpg");
  -o-background-image: url("images/shuffle-01.jpg");
}
.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  color: white;
}
.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe p {
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .subscribe p {
    margin: 30px 0 0;
  }
}
/* End Subscribe */

/* Start Contact */
.contact {
  padding-top: 230px;
  padding-bottom: var(--section-padding);
  margin-top: -200px;
}
.contact .content1 {
  display: flex;
  justify-content: space-between;
}

.contact .fa-phone-alt {
  
  margin-right:15px;
  color:var(--main-color); 
  }

@media (max-width: 767px) {
  .contact .content1 {
    flex-direction: column;
  }
}
.contact .content1 form {
  flex-basis: 70%;
}
.contact .content1 form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content1 form .main-input:focus {
  outline: none;
}
.contact .content1 form textarea.main-input {
  height: 200px;
}

.contact .content1 .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content1 .info {
    order: -1;
    text-align: center;
  }
}
.contact .content1 .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content1 .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content1 .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content1 .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content1 .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content1 .info address {
    margin-bottom: 40px;
  }
}

.submit {
  margin-left: auto;
  display: block;
  width: fit-content;
  background-color: rgb(127, 230, 178) ;
  color: black;
  font-weight: bold;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 9px 0 rgb(183, 240, 221), 0 9px 25px rgba(0, 0, 0, 0.7);
  border:none;
  -webkit-border:none;
  -moz-border:none;
  -ms-border:none;
  -o-border:none;
  -webkit-box-shadow: 0 9px 0 rgb(183, 240, 221), 0 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 9px 0 rgb(183, 240, 221), 0 9px 25px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0 9px 0 rgb(183, 240, 221), 0 9px 25px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 9px 0 rgb(183, 240, 221), 0 9px 25px rgba(0, 0, 0, 0.7);
  cursor:pointer;
}

.submit:active {
  box-shadow: 0 3px 0 rgb(183, 240, 221), 0 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 0 rgb(183, 240, 221), 0 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 0 rgb(183, 240, 221), 0 3px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 3px 0 rgb(183, 240, 221), 0 3px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 3px 0 rgb(183, 240, 221), 0 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  top:5px;
}
/* End Contact */

/* Start Footer */
.footer {
  margin-top: 50px;
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url("../images/shuffle-01.jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
  -webkit-background-image: url("../images/shuffle-01.jpg");
  -moz-background-image: url("../images/shuffle-01.jpg");
  -ms-background-image: url("../images/shuffle-01.jpg");
  -o-background-image: url("../images/shuffle-01.jpg");
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
}
.footer img {
  margin-bottom: 20px;
}
.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
.footer .social-icons i {
  padding: 10px 15px;
}
.footer .copyright {
  margin-top: 60px;
}
.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */

/* start button to up */
.up {
  position: fixed;
  bottom: 20px;
  right: -40px;
  background-color:rgb(211, 14, 73);
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  border-radius: 4px;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: 0.2s;
}
.up.show {
  right: 10px;
}
/* end button to up */
